<section class="{{ $.tag }}">
    <a name="{{ $.tag }}"></a>
    <h2>{{ $.tag }}</h2>
    <ol class="onepage">
        {{ range $key,$taxo := .content.Site.Taxonomies.tags }} {{ if eq $key $.tag }} {{ range $taxo }}
        <li class="onepage">
            <a href="{{ .Page.Permalink }}">{{ .Page.Title }} </a>
            <span class="post-stub-date">{{ .Page.PublishDate.Format "Jan 2, 2006" }}</span>
            {{ range $jira := .Page.Params.jira }}
            <a class="post-stub-jira" href="https://alice.its.cern.ch/jira/browse/{{ $jira }}">
                <svg viewBox="0 0 32 32" class="icon icon-ticket">
                    <use xlink:href="#icon-ticket"></use>
                </svg>
                {{ $jira }}</a>
            {{ end }} {{ range .Page.Params.tags }}
            <a href="/tags/{{ . }}" class="post-stub-tag">
                <svg viewBox="0 0 32 32" class="icon icon-tag">
                    <use xlink:href="#icon-tag"></use>
                </svg>
                {{ . }}</a>
            {{ end }}
        </li>
        {{end}} {{end}} {{end}}
        <footer class="{{ $.tag }}">
        </footer>
</section>